<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Your Chat!</title>
</head>
<body>
  
  <h1>Edit Your Chat!</h1>
  <h2> <%= chat._id %></h2>
  <p>this chat is from <%= chat.from %> to <%= chat .to %> </p>
  <form action="/chats/<%= chat._id %>?_method=PUT" method="POST" >
  <textarea name="msg"><%= chat.msg %> </textarea>
  <button>Edit</button>
</form>
  
</body>
</html>