<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatsApp</title>
</head>
<body>
  <form method="GET" action="/chats/new">
  <button >New Chats</button><br>
</form >
  <h1>All the Chats are here!</h1>
  <% for(let chat of chats){ %>
    <div>
    <p>From:<%=chat.from %></p>
    <p> Message <%=chat.msg %></p>
    <p>Received By: <%=chat.to %></p>
    <p><%=chat.created_at.toString().split(" ")[4]   %></p><br>
    <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")   %></p><br>
  </div>
  <form action="/chats/<%= chat._id %>/edit" method="GET">
  <button>Edit </button></form>
  <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
    <button>Delete </button>
  </form>
  <br><br><hr>

 
  
 <% }%>

  
</body>
</html>
